<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/e3c2b98e-73d9-4165-affd-223a55f36a8e/resourceGroups/ApplicationServicesAuthAPI20241129153154ResourceGroup/providers/Microsoft.ApiManagement/service/ApplicationServicesAuthAPIapi/apis/ApplicationServicesAuthAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/e3c2b98e-73d9-4165-affd-223a55f36a8e/resourcegroups/ApplicationServicesAuthAPI20241129153154ResourceGroup/providers/Microsoft.Web/sites/ApplicationServicesAuthAPI20241129153154</ResourceId>
    <ResourceGroup>ApplicationServicesAuthAPI20241129153154ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://applicationservicesauthapi20241129153154.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c5f99fb2-431f-4d6c-bc1b-5048833e2a11</ProjectGuid>
    <PublishUrl>https://applicationservicesauthapi20241129153154.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ApplicationServicesAuthAPI20241129153154</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>